.App {
  text-align: center;
}

.MainHeader{
  font-family: 'Staatliches', cursive;
  font-size: 8rem
}
.SecondHeader{
  font-family: 'Nixie One', cursive;
  padding-left: 20%;
  font-size: 3rem
}
.Button{
  background: pink;
  color:white;
  font-family: 'Staatliches', cursive;
}
.LandingPage{
  background: #581845 ;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center

}
.addButton{
  background-color: #fff9c4
}